{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}

<div class="d-flex flex-wrap gap-2">
    {% set counter = 0 %}
    {% for note in notes %}    
        <div class="border d-flex flex-column justify-content-between" style="width: 400px;">
            <h3 class="text-success text-center">{{ note.title }}</h3>
            <div class="">{{ note.content }}</div>
            <img class="w-50" src="uploads/{{ note.image }}"{{ note.content }} alt="{{note.title}}">
            <div class="">{{ note.likes }}</div>
            <div><a class="text-danger" href="/notes/{{ counter }}/remove">X</a></div>
        </div>
        {% set counter = counter + 1 %}
    {% else %}
    <p>No notes available</p>
    {% endfor %}
</div>
<div><a href="/note">Create Entry</a></div>
<div><a href="/dashboard">Back</a></div>

{% endblock %}
