{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
        <p><a href="/users">Manage Users</a></p>
{% endif %}
    
  

    
    

<body>


    <!--Navbar-->


    <nav class="navbar  navbar-expand-lg " style="background-color:black">
        <div class="container-fluid">
            <a class="navbar-brand"href="/"><i class="bi bi-rocket text-light"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light" href="/dashboard/trips">Your Trips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/dashboard/trip_packing">Packing list</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/note">Trip journal</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              
              <a class="btn btn-outline-light" href="href="/dashboard/details""><i class="bi bi-person"></i></a>
            </form>
          </div>
        </div>
      </nav>


    <!--Hero image-->


      <div class="bg-image shadow">
        <div class="container-fluid">
            <div class="text-center text-align-center align-items-center text-white text">
                <h1 class="pt-5"></h1>
            </div>
        </div>
    </div>

    <!--Bootstrap Cards for the trips-->

    <section id="desti">
        <div class="container">
            <h5 class="section-title h1 py-3" style="text-align:center; color:lightblue">Our  trips</h5>
            <div class="row">
                
        
                  {% for trip in trips %}
                    
                  
              
                <!-- Trips -->
                <div class="col-xs-12 col-sm-6 col-md-4 mb-5">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside" >
                                <div class="card" style="background: #282d32;">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src={{trip.image}} alt="card image"></p>
                                        <h4 class="card-title"> {{trip.name}}</h4>
                                        <p class="card-text">{{trip.characteristics}}</p>
                                        <a href="#" class="btn btn-xl"><i class="bi bi-award text-light">{{trip.award}}</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside ">
                                <div class="card"  style="background:  #282d32;">
                                    <div class="card-body text-center ">
                                        <h4 class="card-title">{{trip.destination}}</h4>
                                        <p class="card-text">{{trip.characteristics}}</p>
                                        <p>Duration in Days:  {{trip.duration}}</p>
                                        <p>Your Travel Partner: {{trip.host}}</p>
                                        <p>Award: {{trip.award}}</p>
                                        
                                        <button href="#" class="btn btn-success text-light">Details</button>
                                        
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}  
         

            </div>
        </div>
    </section>

    <!--Journal-->
    <section id="desti">
       <a href="" style="text-decoration: none;"> <h2 class="h2">Click hier and plan Your day like this</h2> </a>
        <div class = "container_day">
            <input type="text" placeholder = "Enter task" id = "userinput"> 
            <button value = "Enter" id= "enterButton"><strong>Enter</strong></button>
        </div>
        <div class = "todolist">
            <ol>
                <!-- <li>heyy</li> -->
            </ol>
        </div>
       
    </section>
   
    <!--Footer-->
    <footer class="ft"> 
        <div class="footer-dark" >
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Destinations</a></li>
                                <li><a href="#">Travel Buddys</a></li>
                                <li><a href="#">Day2Day</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Team</a></li>
                               
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Our website Name</h3>
                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                        </div>
                        <div class="col item social"><a href="#"><i class="bi bi-facebook"></i></a><a href="#"><i class="bi bi-instagram"></i></a><a href="#"><i class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-snapchat"></i></a></div>
                    </div>
                    <p class="copyright">Company Name © 2023</p>
                </div>
            </footer>
        </div>
        
    </footer>
    <script type="text/javascript" src = "/public/js/planner.js"></script>
</body>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script></body>
</html>


    
        
{% endblock %}
