{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}
{# {% set trip = trip.trip %} #}
<h1>{{ selectedtrip.trip.destination }} Packing List</h1>
<a href="/dashboard/trips/{{ id }}">Back</a>
    
<form method="post">


  <h3>Available Items</h3>
  <p>(Suggested items for {{ selectedtrip.trip.destination }} are preselected. Please consider bringing those.)</p>
  <select name="selectedItems[]" multiple>
    {% for item in items %}
      {% set suggested = false %}
      {% for tripItem in selectedtrip.trip.tripItem %}
        {% if tripItem.id == item.id %}
          {% set suggested = true %}
        {% endif %}
      {% endfor %}
      <option value="{{ item.id }}" {% if suggested %}selected{% endif %}>{{ item.name }}</option>
    {% endfor %}
  </select>


  <p><input type="submit" value="Pack"></p>
</form> 

<div class="mt-5">
  {% if userItems %}
  <h3>Your packed items</h3>
    <div class="border">
      {% for item in userItems %}
        <div class="d-flex"><p>{{ item.item.name }}</p><a href="/dashboard/trips/{{id}}/packing_list/{{ item.id }}/remove">x</a></div>
      {% endfor %}
    </div>
  {% else %}
  <p>You haven't packed any items for this trip yet</p>
  
  {% endif %}
</div>


{% endblock %}
