{% extends 'base.html.twig' %}

{% block title %}Packing List Creator
{% endblock %}

{% block body %}
	<!-- Style -->
	<style>
		body {
			background: var(--main-bg-color);
			color: white;
		}
		.back-arrow {
			font-size: 1.5rem;
		}
		.form-container {
			border-style: solid;
			border-color: var(--accent-color-orange) !important;
		}
    .suggested-items {
      font-size: 0.8rem;
    }
    .btn-remove {
      height: 20px;
      width: 20px;
    }
    .icon-remove {
      font-size: 0.8rem;
      position: relative;
      left: -5px;
      bottom: 5px;
    }
	</style>

	<!-- Back Button -->
	<div class="">
		<a class="back-arrow text-decoration-none text-light m-2 p-2 fw-bold" href="/dashboard/trips/{{ id }}">
			<i class="bi bi-arrow-left"></i>
			Back</a>
	</div>

	<div class="form-container container text-center w-50 border rounded p-5 m-5 mx-auto">
		<h1 class="divider-heading my-3">{{ selectedtrip.trip.destination }}
			Packing List</h1>

		<!-- Form Packing List Creator -->
		<form method="post">
			<h3>Available Items</h3>
			<p class="suggested-items opacity-75">(Suggested items for
				{{ selectedtrip.trip.destination }}
				are preselected. Please consider bringing those.)</p>
			<select class="form-control w-50 mx-auto" name="selectedItems[]" multiple>
				{% for item in items %}
					{% set suggested = false %}
					{% for tripItem in selectedtrip.trip.tripItem %}
						{% if tripItem.id == item.id %}
							{% set suggested = true %}
						{% endif %}
					{% endfor %}
					<option value="{{ item.id }}" {% if suggested %} selected {% endif %}>{{ item.name }}</option>
				{% endfor %}
			</select>

			<!-- Pack Button -->
			<p><input class="btn btn-light btn-orange fw-bold m-3" type="submit" value="Pack"></p>
		</form>

		<!-- Packed Items -->
		<div class="mt-5">
			{% if userItems %}
				<h5 class="mb-3">Your packed items</h5>
				<div class="border rounded m-2 p-1">
					{% for item in userItems %}
						<div class="d-flex justify-content-between">
            <div>
            	<span class="m-2">- {{ item.item.name }}</span>
							<a class="btn-remove btn btn-danger btn-sm me-auto" href="/dashboard/trips/{{id}}/packing_list/{{ item.id }}/remove"><i class="icon-remove bi bi-trash"></i></a>
            </div>
						</div>
					{% endfor %}
				</div>
			<!-- no items packed -->
			{% else %}
				<p>You haven't packed any items for this trip yet</p>
			{% endif %}
		</div>
	</div>

{% endblock %}
